<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPHmSVUgpxtmDFg-khJLPqDHYi7SkDgE0</string>
	<key>GCM_SENDER_ID</key>
	<string>745459279524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.foodzone</string>
	<key>PROJECT_ID</key>
	<string>foodzone-5fd8d</string>
	<key>STORAGE_BUCKET</key>
	<string>foodzone-5fd8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745459279524:ios:87f49d5ffe26a60417a831</string>
</dict>
</plist>